:root {
  /* --primaryColor    : #9e3aa3; */
  /* --primaryDarkColor: #4e1d51; */
  --primaryColor       : #fff;
  --primaryDarkColor   : #c02c03;
  --yellowColor        : #f2c309;
  --highlighted:#61ce70;
}

a {
  text-decoration: none;
  cursor         : pointer;
  color          : #000;
  margin-right   : 2rem;
  font-weight    : bold;
}

.active {
  color: var(--yellowColor);
}

@keyframes example { 0% { stroke-dasharray: 0 1500; } 15% { stroke-dasharray: 1500 1500; } 100% { stroke-dasharray: 1500 1500; } } 